---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=&key=<GOOGLE_GEO_CODE>&origin=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Invalid request. Missing the 'destination' parameter.",
           "routes" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Wed, 22 Apr 2020 11:46:24 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=&key=<GOOGLE_GEO_CODE>&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Invalid request. Missing the 'address', 'components', 'latlng' or 'place_id' parameter.",
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Wed, 22 Apr 2020 11:46:24 GMT
recorded_with: VCR 5.1.0
